@charset "utf-8";

#googlead {
	position: relative;
	width: 1152px;
	margin: 20px auto;
}
.clear {
	clear: both;
}
#contentbox {
	width: 780px;
	padding: 20px;
	background: #fff;
	float: left;

	border: 1px solid #ccc;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	box-shadow: 0px 0px 2px #999;
	-webkit-box-shadow: 0px 0px 2px #999;
	-moz-box-shadow: 0px 0px 2px #999;
}
.title {
	padding-bottom: 10px;
	border-bottom:2px dotted #cbcbcb;
}
.original_src a {
	color: #3366ff;
}
#wenzhang p {
	color: #575757;
	font-size: 15px;
	/*text-indent: 2em;*/
	line-height: 1.8em;
}
#wenzhang pre {
	padding: 10px 5px;
	background-color: #eee;
	border: 1px solid #bed0e0;
	font-size: 12;
	font-family: Courier New,Verdana;
	line-height: 20px;
	word-wrap:break-word;
	white-space:pre-wrap;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#dingcai {
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}
#dingcai p a {
	color:#999;
	width: 90px;
	line-height: 20px;
	padding-left: 55px;
	padding-right: 29px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#a_ding{
	background:url(../images/ding_up.jpg) left center no-repeat;
}
#a_cai{
	margin-left: 20px;
	background:url(../images/cai_up.jpg) left center no-repeat;
}
#a_ding:hover{
	background:url(../images/ding_over.jpg) left center no-repeat;
}
#a_cai:hover{
	background:url(../images/cai_over.jpg) left center no-repeat;
}
.postfooter_news {
	border-bottom: 1px dashed #dbdbdb;
}
div.sociable {
	margin-top: 20px;
	padding-bottom: 50px;
	border-bottom: 1px dashed #dbdbdb;
}
.commentbox {
	padding-top: 10px;
	border-bottom: 1px dashed #999;
}
.commentbox:hover {
	background-color: #ccc;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	transition: all 0.8s ease-in;
	-webkit-transition: all 0.8s ease-in;
	-moz-transition: all 0.8s ease-in;
}
.commentbox:not(:hover) {
	background-color: #fff;
	transition: all 0.8s ease-out;
	-webkit-transition: all 0.8s ease-out;
	-moz-transition: all 0.8s ease-out;
}
.commentpage{
	padding-top: 10px;
	border-bottom: 1px dashed #999;
}
.commentpage p.comment_post {
	color: #3366ff;
}
.commentcontent {
	width: 91%;
	float: left;
	font-size: 12px;
}
.commentcontent .commentdate {
	color: #999;
}
.comment_avatar {
	width: 8%;
	float: right;
}
.comment_avatar img {
	width: 48px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	-webkit-box-shadow:0 1px 5px rgba(0,0,0,.7);
	-moz-box-shadow:0 1px 5px rgba(0,0,0,.7);
	box-shadow:0 1px 5px rgba(0,0,0,.7);
}
.commentcontent pre {
	font-family: Microsoft Yahei;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;	/*mozilla*/
	white-space: -o-pre-wrap;	/*Opera 7*/
	white-space: break-word;	/*IE 5.5+*/
}
#addcommet form ol {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#addcommet form li {
	display: block;
	margin: 0px;
	padding: 0px;
}
#addcommet form .formtext {
	width: 200px;
	height: 27px;
	margin-top: 10px;
	border: 1px solid #ccc;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#addcommet form textarea {
	width: 400px;
	height: 60px;
	margin-top: 10px;
	margin-left: 31px;
	border: 1px solid #ccc;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#addcommet form #submit {
	width: 50px;
	height: 25px;
	margin-left: 31px;
}
.item {
	border-bottom: 1px solid #eee;
	padding: 0px 0px 10px;
}
.item h2 {
	font-size: 20px;
	height: 23px;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 5px;
}
.item h2 a {
	color: #0086e3;
}
.item span {
	color: #999;
}