$def with(rand_news,tags)
$:render.header("")

	<div id="container" style="margin-top:40px;">

		<div id="sidebar">
			$:render.search_form()
			
			<div id="comment">
				<header>随机文章</header>
				$for news in rand_news:
					<p><a href="/news/$news.id">$news.post_title</a></p>
			</div>
			<div id="tagcloud">
			$if tags:
				<h3>标签云</h3>
				<p>
				$for tag in tags:
					<a href="/tag/$tag">&nbsp;$tag&nbsp;</a>
				</p>
			</div>
			$:render.translate()
		</div>

		<div id="contentbox">
			<div>
				<header>
					<h2>About</h2>
				</header>
				<div id="wenzhang">
					<p>本站名称：Proupy</p>
					<p>&nbsp;&nbsp&nbsp&nbsp;创建于2011年8月，本站主要以Python资料分享为主，这里收集了我们认为有价值的资料，全部都已注明出处，作为Pythoner，我们应该关注的更多，分享我们在学习和工作中使用Python碰到的问题。</p>
					<p>&nbsp;&nbsp&nbsp&nbsp;如果您对本站有什么意见和建议的话，或者您也想加入本站的更新行列，欢迎您联系我们：lzjxms#gmail.com</p>
					<br/>
					<p style="color:blue;">联系方式：</p>
					<p>QQ：1057786807</p>
					<p>Email：lzjxms#gmail.com</p><br/><br/><br/><br/><br/><br/><br/>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	$:render.footer()

