	<div id="pagefooter">
		<p>
			&copy; 2011-2012 <a href="http://proupy.com">Proupy.com </a> &nbsp;All rights reserved. &nbsp;&nbsp;&nbsp;
			<span class="fn-right">Powered By <a href="http://webpy.org/" target="_blank" rel="nofollow">web.py</a> + <a href="http://www.mongodb.org/" target="_blank" rel="nofollow">MongoDB</a></span>
		</p>
		<script type="text/javascript">
			function googleTranslateElementInit() {
				new google.translate.TranslateElement({pageLanguage: 'zh-CN', includedLanguages: ',af,sq,ar,hy,az,eu,be,bg,ca,zh-CN,zh-TW,hr,cs,da,nl,en,et,tl,fi,fr,gl,ka,de,el,ht,iw,hi,hu,is,id,ga,it,ja,ko,lv,lt,mk,ms,mt,no,fa,pl,pt,ro,ru,sr,sk,sl,es,sw,sv,th,tr,uk,ur,vi,cy,yi'}, 'google_translate_element');
			}
		</script>
		<script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
	</div>
</body>
</html>