$def with(tempItem,article,comments,tags,rand_news)
$:render.header(tempItem)

	<div id="googlead">
		<img src="$config.static/images/singpenguin.jpg" alt="会唱歌的企鹅"/>
	</div>

	<div id="container">

		<div id="sidebar">
			$:render.search_form()
			
			<div id="comment">
				<h3>为您推荐</h3>
				$for news in rand_news:
					<p><a href="/news/$news['_id']" target="_blank">$news['title']</a></p>
			</div>
			<div id="tagcloud">
			$if tags:
				<h3>标签云</h3>
				<p>
				$for tag in tags:
					<a href="/tag/$tag">$tag</a>
				</p>
			</div>
			<div id="google_translate_element"></div>
		</div>

		<div id="contentbox">
			<div>
				<header>
					<h2>$article['name']</h2>
					<p class="metastuff">
						<span>官方网站: <a href="$article['site']" rel="nofollow" target="_blank">$article['site']</a></span>
					</p>
				</header>
				<div id="wenzhang">
					$:article['content'].replace("$config.static", "/static")
				</div>
			</div>

			<div>
			$if comments:
				$for cmt in comments:
					<a id="cmt$cmt['_id']"></a>
					<div class="commentbox">
						<div class="commentcontent">
							<strong>
							$if cmt['url']:
								<a href="$cmt['url']" rel="nofollow" target="_blank">$cmt['author']</a>
							$else:
								$cmt['author']
							</strong>
							<span class="commentdate">$cmt['date'].strftime('%Y-%m-%d %H:%M:%S')</span>
							<pre>$cmt['content']</pre>
						</div>
						<div class="comment_avatar">
							<img src="$cmt['email'].replace('$config.static', '/static')" alt="$cmt['author']"/>
						</div>
						<div class="clear"></div> 
					</div>
			</div>

			<div id="addcommet">
				<a id="addcmt"></a>
				<h3>发表评论</h3>
				<form action="/$tempItem/$article['_id']/comment" method="post">
					<ol>
						<li>
							<label>昵称</label>
							<input class="formtext" name="name" required placeholder="Your nick name"/>
							<span>*</span>
						</li>
						<li>
							<label>邮箱</label>
							<input class="formtext" name="email" type="email" required placeholder="Your Email"/>
							<span>*</span>
						</li>
						<li>
							<label>网站</label>
							<input class="formtext" name="url" type="url" value="http://" placeholder="Your Website"/>
						</li>
						<li>
							<textarea name="message" required></textarea>
							<span>*</span>
						</li>
						<li>
							<input id="submit" name="submit" type="submit" value="提交" onclick="JavaScript:return VerifyMessage()"/>
						</li>
					</ol>
				</form>
			</div><!--addcommet-->
		</div>
		<div class="clear"></div>
		<script type="text/javascript" src="$config.static/js/default.js" charset="utf-8"></script>
	</div>

	$:render.footer()