$def with(cmts,pageno,pagecount,tags,rand_news)
$:render.header("")

	<div id="googlead">
		<img src="$config.static/images/sea.jpg" alt="面朝大海，春暖花开"/>
	</div>

	<div id="container">
		<div id="sidebar">
			$:render.search_form()
			<div id="comment">
				<header>为您推荐</header>
				$for news in rand_news:
					<p><a href="/news/$news['_id']" target="_blank">$news['title']</a></p>
			</div>
			<div id="tagcloud">
			$if tags:
				<h3>标签云</h3>
				<p>
				$for tag in tags:
					<a href="/tag/$tag">$tag</a>
				</p>
			</div>
			<div id="google_translate_element"></div>
		</div>

		<div id="contentbox">
			<h3>最新评论</h3>
			$for cmt in cmts:
				<div class="commentpage">
					<div class="commentcontent">
						<strong>
						$if cmt['url']:
							<a href="$cmt['url']" rel="nofollow" target="_blank">$cmt['author']</a>
						$else:
							$cmt['author']
						</strong>
						<span class="commentdate">$cmt['date'].strftime('%Y-%m-%d %H:%M:%S')</span>
						<pre>$cmt['content']</pre>
					</div>
					<div class="comment_avatar">
						<img src="$cmt['email'].replace('$config.static', '/static')" alt="$cmt['author']"/>
					</div>
					<div class="clear"></div> 
					<p class="comment_post"><img src="$config.static/images/Comment.png" width="20" height="20" align="center" alt="Comment"/><a href="/news/$cmt['postid']#cmt$cmt['_id']" target="_blank">$cmt['title']</a></p>
				</div>
			<footer>
				<p id="pagenumber">
				$if pagecount < 7:
					$for x in range(1,pagecount+1):
						$if x==pageno:
							<a class="pagenow">$pageno</a>
						$else:
							<a href="/news/cmts/page/$x">$x</a>
				$else:
					$if 3 < pageno < pagecount-3:
						<a href="/news/cmts/page/1">1</a>...
						<a href="/news/cmts/page/$(pageno-1)">$(pageno-1)</a>
						<a class="pagenow">$pageno</a>
						<a href="/news/cmts/page/$(pageno+1)">$(pageno+1)</a>
						<a href="/news/cmts/page/$(pageno+2)">$(pageno+2)</a>...
						<a href="/news/cmts/page/$pagecount">$pagecount</a>
					$elif pageno >= pagecount-3:
						<a href="/news/cmts/page/1">1</a>...
						$for x in range(pagecount-4,pagecount+1):
							$if x==pageno:
								<a class="pagenow">$pageno</a>
							$else:
								<a href="/news/cmts/page/$x">$x</a>
					$else:
						$for x in range(1,6):
							$if x==pageno:
								<a class="pagenow">$pageno</a>
							$else:
								<a href="/news/cmts/page/$x">$x</a>
						...&nbsp;&nbsp;&nbsp;<a href="/news/cmts/page/$pagecount">$pagecount</a>
				</p>
			</footer>
		</div>
		<div class="clear"></div>
	</div>

	$:render.footer()

