			<form method="get" action="http://google.com/search" id="searchform" name="searchform" target="_blank">
				<input type="hidden" id="domains" name="domains" value="proupy.com">
				<input type="hidden" id="sitesearch" name="sitesearch" value="proupy.com">
				<input type="hidden" id="sourceid" name="sourceid" value="google-search">
				<input type="text" class="keyworld" name="q" id="q" placeholder="请输入搜索内容">
				<input type="submit" value="搜索" class="button" name="submit" id="submit">
			</form>